body {
    background-color: #242424;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon-header {
    max-width: 100%;
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: 1px solid orangered;
    border-radius: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
    margin-left: 3px
}

header.h1 {
    margin-top: -30px
}

.header p {
    font-size: 20px;
    margin-top: -20px;
}

.welcome-text {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #444444;
    border-radius: 10px;
    background-color: #333232;
    text-align: justify;
}

.welcome-text p {
    margin-left: 30px;
}

.welcome-text i {
    margin-right: -10px;
    align-self: center;
    font-size: 20px;
}

.github-profile-summary-cards {
    border: 0;
    height: 100%;
    width: 500px;
}

hr {
    /* Do not change */
    background-color: #525252;
    border: 0;
    height: 1px;
}